.users-main{
    background-color: #6ec5ea8d;
    min-height: 100vh;
}

.users{
    padding-top:200px;
    margin-bottom: -20px;
}

.user-grid{
    display : grid;
    grid-template-columns: repeat(3, 400px);
    grid-gap: 20px;
    margin-top: 20px;
    justify-content: center;
    margin-left: 120px;
}

.user{
   background-image:linear-gradient(to right,  hsl(161, 32%, 70%)  , hsl(246, 6%, 35%) );
   backdrop-filter: blur(10px);; 
    box-shadow:   0 0 30px 0  rgb(87, 111, 137);
    width: 250px;
    padding:  20px;
    border-radius:  10px;
    border-left:   5px solid rgba(75, 106, 90, 0.472);
    border-bottom:  5px solid rgba(36, 49, 42, 0.472);
    margin-bottom:  20px;
    transition: 1s ease-in-out;
}

.user h2{
    color: rgb(5, 5, 22);
    font-size:  20px;
    font-weight:  600;
    margin-bottom:  10px;
}

.user p{
    color: #fff;
    filter: brightness( 150%);
    font-size:  16px;
    font-weight:  500;
    margin-bottom:  10px;
}

.user-i{
    margin-bottom: 60px;
}

.user img {
    width:  170px;
    height:  170px;
    border-radius:  50%;
    margin-bottom:  10px;
    opacity:  0.8;
    background-blend-mode:  multiply;
}

.user:hover{
    box-shadow:  0 0 30px 0  #fff;
    border-right:   5px solid #fff;
    border-left:   none;
    border-bottom:  none;
    border-top:  5px solid #fff;
    cursor:  pointer;
}


.paginationBttns{
    padding-bottom: 30px;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginationBttns a{
    padding: 10px;
    margin : 8px;
    border-radius:  5px;
    border:1px solid #3898a4;
    color: #3898a4;
    cursor: pointer;
}

.paginationBttns a:hover{
    background-color: #3898a4;
    color: #fff;
}

.paginationActive a{
    background-color: #3898a4;
    color: #fff;
}

.paginationDisabled a{
    background-color: #ccc;
    color: #fff;
    cursor: not-allowed;
} 

.paginationDisabled a:hover{
    background-color: #ccc;
    color: #fff;
}




.previousBttn {
    background-color: #4a24b3;
    color: #fff;
}

.nextBttn {
    background-color: #4a24b3;
    color: #fff;
}


    

    
/* loading */

.loading{
    font-size: 20px;
    color: #fff;
    font-weight:  600;
}

@media screen and (max-width: 1220px){
    .user-grid{
        grid-template-columns: repeat(3, 350px);   
        margin-left:  50px;
    }
}

@media screen and (max-width: 1120px){
    .user-grid{
        grid-template-columns: repeat(3, 300px);   
        margin-left:  30px;
    }
}

@media screen and (max-width: 1000px){
    .user-grid{
        grid-template-columns: repeat(2, 350px);   
        margin-left:  80px;
    }
}
   

@media screen and (max-width: 768px){
    .user-grid{
        grid-template-columns: repeat(2, 330px);   
        margin-left:  30px;
    }
}

@media screen and (max-width: 700px){
    .user-grid{
        grid-template-columns: repeat(1, 350px);   
        margin-left:  45px;
    }

    .paginationBttns a{
        padding: 5px;
        margin : 10px;
    }
}

@media screen and (max-width: 400px){
    .user-grid{
        grid-template-columns: repeat(1, 300px);   
        margin-left:  15px;
    }

    .paginationBttns a{
        padding: 5px;
        margin : 5px;
    }
}

@media screen and (max-width: 350px){
    .user-grid{
        grid-template-columns: repeat(1, 300px);   
        margin-left:  10px;
    }

    .paginationBttns a{
        padding: 5px;
        margin : 2px;
    }
}








